<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Edit Pedido</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link type="text/css" href="/styles/css/estilos.css" rel="stylesheet" />
</head>
<body>
	<div class="formulario">
		<form action="#" th:action="@{/pedido/edit/submit}" 
	   		th:object="${pedido}" method="post">
	   		<h1>Edit pedido</h1>
	   		<table>
	   			<tr>
	   				<td>Direccion</td>
	   				<td><input type="text" th:field="*{direccion}" /></td>	
	   			</tr>
	   		
	   			
	   			<tr>
			   		<td>Id</td>
			   		<td>NombreProducto</td>
			   		<td>Precio</td>
			   		<td>Cantidad</td>
		   		</tr>
	   			<tr th:each="prod : *{listaProductos}">
	   				<td>
	   					<input type="hidden" th:text="${prod.id}" th:value="${prod.id}" th:name="id" th.id="id"/>
	   				</td>
	   				<td>
	   					<input type="hidden" th:text="${prod.nombre}" th:value="${prod.nombre}" th:name="nombre" th.id="nombre"/>
	   				</td>
	   				<td>
	   					<input type="hidden" th:text="${prod.precio}" th:value="${prod.precio}"  th.name="precio" th.id="precio"/>
	   				</td>
	   				<td>
	   					<input type="number"  th:value="${prod.cantidad}" name="cantidad" id="cantidad"/>
	   				</td>
	   			</tr>
	   			
	   			
	   				<td><input type="submit" value="Aceptar"/></td>
	   			</tr>
	   		</table>
	   		<p><a th:href="@{/servicio/seleccion}">Volver</a></p>
		</form>
	</div>
</body>
</html>