<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Pedidos</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link type="text/css" href="/styles/css/estilos.css" rel="stylesheet" />
</head>
<body>
<div class="formulario">
	<h1>Pedidos</h1>
	<table class="tablita" >
		<tr>
			<th>IdPedido</th>
	    	<th>Direccion</th>
	    	<th>Opciones</th>
	    </tr> 
	    	
		<tr th:each="pedido : ${listaPedido}">
	    	<td th:text="${pedido.IdPedido}"></td>
	    	<td th:text="${pedido.direccion}"></td>
	    	<td><a th:href="@{/pedido/edit/{id}(id=${pedido.IdPedido})}">Editar</a></td>
	    	<td><a th:href="@{/pedido/borrar/{id}(id=${pedido.IdPedido})}">Borrar</a></td>		
	    </tr>
	    		
	</table>
    <p><a th:href="@{/servicio/seleccion}">Volver</a></p>
</div>
</body>
</html>